.container-fluid {
  /* Your styles for the main container (if any) */
}

.cardCustom {
  /* Your styles for the card (if any) */
}

.cardBody {
  /* Your styles for the card body (if any) */
}

.cardTitle {
  /* Your styles for the card title (if any) */
}

.pageItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
  transition: background-color 0.3s;
}

.pageItem:hover {
  background-color: #f9f9f9;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  margin: 0;
  color: #333;
  font-size: 24px;
  /* Make sure the title does not wrap unless necessary */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageLink {
  text-decoration: none;
  color: #007bff;
  /* Handle long titles */
  display: block;
  max-width: 70%; /* Adjust this as needed */
}

.pageActions {
  display: flex;
  gap: 10px; /* Adjust the space between buttons as needed */
  flex-shrink: 0; /* Prevent the buttons from shrinking */
}

.followButton,
.donateButton {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.followButton:hover,
.donateButton:hover {
  background-color: #0056b3;
}

.pageDescription {
  color: #666;
  margin-top: 0.5rem; /* Spacing between title and description */
}

/* Responsive styles */
@media (max-width: 768px) {
  .pageHeader {
    flex-wrap: wrap;
  }
  .pageTitle,
  .pageLink {
    /* Allow the title to wrap on smaller screens */
    white-space: normal;
    max-width: 100%;
  }
  .pageActions {
    margin-top: 10px; /* Spacing between title and buttons on smaller screens */
    justify-content: flex-end; /* Align buttons to the right on smaller screens */
  }
}
